html, body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #c2c6cb;
    letter-spacing: 0.5ch;
}

body  {
    letter-spacing: 5px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
        justify-content: end;
        margin: 0 20px;
    }
}

.logoFocus {
    width: 150px;
    height: 30px;
    margin-right: 10px;
}

.navbar-brand {
    font-size: 1em;
}

.img-sec {
    position: relative;
    height: 330px;
    width: 100%;
    background-position: center;
    background-size:cover;
}
