html, body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color:whitesmoke;
    letter-spacing: 0.5ch;
    font-size: .875rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
        justify-content: end;
        margin: 0 20px;
    }
}

.logoFocus {
    width: 150px;
    height: 30px;
    margin-right: 10px;
}

.navbar-brand {
    font-size: 1em;
}

.img-sec {
    position: relative;
    height: 330px;
    width: 100%;
    background-position: center;
    background-size:cover;
}

.hotspot-1, .hotspot-2, .hotspot-3, .hotspot-4 {
    position: relative;
    background-size: cover;
    background-position: 50%;
    height: 250px;
    text-decoration: none;
    color: #c0b283;
    background-color: transparent;
    transition: transform .75s;
}

.hotspot-1 {
    background-image: url(Pics/優勢羽球館.jpg);
}

.hotspot-1:hover {
    transform: scale(1.15);
}

.hotspot-2 {
    background-image: url(Pics/神力羽球館.jpg);
}

.hotspot-2:hover {
    transform: scale(1.15);
}

.hotspot-3 {
    background-image: url(Pics/羽立羽球館.jpg);
}

.hotspot-3:hover {
    transform: scale(1.15);
}

.hotspot-4 {
    background-image: url(Pics/超強羽球館.jpg);
}

.hotspot-4:hover {
    transform: scale(1.15);
}

.h4 {
    position: absolute;
    left: 30px;
    bottom: 15px;
    text-shadow: 2px 2px 9px rgba(0,0,0, .5);
}

#dropdownLocation, #dropdownCourt {
    width: 200px;
}