html, body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color:whitesmoke;
    letter-spacing: 0.5ch;
    font-size: .875rem;
}

.logoFocus {
    background-image:url(Pics/FocusLogo.png);
}





.sandBox {
    width: 100%;
    max-width: 330px;
}