html,
body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: whitesmoke;
    letter-spacing: 0.5ch;
    font-size: .875rem;
}

.signBox {
    min-width: 300px;
}

button {
    box-sizing: border-box;
    width: 100%;
}