#window-container{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
     
#window-pop{
  background: white;
  width:30%;
  z-index: 1;
  margin: 12% auto;
  overflow: auto;
  border-radius: 20px;
}

.window-content {
  width: auto;
  height: 200px;
  line-height: 200px;
  overflow: auto;
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
